{% load static %}
<!doctype html>
<html class="no-js" data-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot Password - Echo Express</title>
    <link rel="icon" type="image/png" href="../../../static/img/favicon/logo_black.png">
    <meta name="author" content="Echo Express">
    <meta name="description" content="Echo Express - News & Magazine Platform">
    <meta name="keywords" content="Echo Express, News, Magazine">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
</head>

<body>

<!--Start Preloader-->
<div class="preloader">
    <button class="th-btn preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner"><span class="loader"></span></div>
</div>
<!--End Preloader-->

<!--Start Content-->
<section class="space">
    <div class="container" style="display: inline-block; text-align: left;">
        <div class="row">
            <div class="col-xl-6 mt-4 mt-xl-0">
                <div class="dark-theme img-overlay2">
                    <div class="blog-style3">
                        {% if messages %}
                            {% for message in messages %}
                                <p id="error-message" style="color: red;">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="signin-logo">
                            <a href="{% url 'summarize' %}"><img src="{% static 'img/icon/logo_white.png' %}" alt="Logo" class="align-middle"></a>
                        </div>
                        <div class="content">
                            <h1 class="signin-h1">Forgot Your Password?</h1>
                            <p>Enter your email address below, and we'll send you a link to reset your password.</p>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn-success">Send Reset Link</button>
                            </form>
                            <p><a href="{% url 'signin' %}">Return to Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>
<!--End Content-->

<!--    Java Scripts -->
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>